---
metaTitle: "Florence Ceramics"
metaDescription: "Ceramicist making pieces for the everyday 🌻"
url: "florenceceramics.co.uk"
---

doctype html
html(lang='en-gb')
    head
        meta(charset='utf-8')
        title=metaTitle
        meta(name='description', content=metaDescription)
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="theme-color" content="black")
        link(rel='canonical', href=url + page.fileSlug)
        link(rel="shortcut icon" href="/favicon.ico")
        style=helpers.getCss()

    body !{content}