---
title: Florence Ceramics
description: Ceramicist making pieces for the everyday 🌻
author: Florence Williams
ogtype: website
image: img/88a36a65-600.jpeg
url: https://florenceceramics.co.uk/
---

doctype html
html(lang='en-gb')
    head
        meta(charset='utf-8')
        title=title
        meta(name='description', content=description)
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='canonical', href=url)
        link(rel="shortcut icon" href="/favicon.ico")
        meta(property="og:title" content=title)
        meta(property="og:url" content=url)
        meta(property="og:description" content=description)
        meta(property="og:image" content=image)
        meta(property="og:type" content="website" )
    style
        include styles.css
    body 
        header
            div#logo !{helpers.image("assets/logo.png", "Florence Ceramics")}
            p British Ceramicist making modern, functional tableware for the everyday
            p small-batch // wheel-thrown // lessons
            div#navbar
                a(href="/") Home
                a(href="/contact") Contact
                a(href="https://www.instagram.com/florenceceramics/") Instagram

        main !{content}